* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

img {
  width: 300px;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head{
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  color: white;
  padding: 16px;
}


.header {
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}

.logo {
  cursor: pointer;
  font-weight: 900;
  font-size: 32px;
  color: #f9faf8;
}
.links {
  display: flex;
  gap: 32px;
}

a:hover {
  color: #a4a5a3;
  border-bottom: 2px dotted #a4a5a3;
}

.link , .bienvenida{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  border: 2px solid rgba(0,0,0,0);
}

.presentation{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  padding: 80px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  max-width: 510px;
  min-width: 260px;
  margin: 16px;
}

.tittle {
  font-size: 48px;
  font-weight: 900;
}

.signup {
  background: #3882f6;
  padding: 10px 30px;
  border: 2px solid rgba(0,0,0,0);
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
}

.signup:hover {
  border: 2px solid #f9faf8;
}

.galeria{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 16px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.content-cat {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 24px;
}

.cat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-item > img {
  width: 200px;
}

.cat-name {
  color: #666;
  font-weight: 500;
}

.frase {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #e5e7eb;
  align-items: center;
  padding: 80px 20%;
}

.quote {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  text-align: justify;
}

.autor {
  font-weight: 900;
  font-size: 24px;
  align-self: flex-end;
}

.call-action {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 100px 15%;
}

.content-action {
  background-color: #3882f6;
  border-radius: 8px;
  display: flex;
  min-height: 150px;
  flex:1;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding: 32px;
  gap: 16px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.action-tittle, .action-text {
  color: #fff;
  text-align: start;
}

.action.signup {
  border: 2px solid #fff;
}

.action.signup:hover {
  color: #3882f6;
  background-color: #fff;
}

.footer {
  display: flex;
  background-color: #1f2937;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.footer > p {
  color: #fff;
  font-size: 20px;
}
